<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy IntelliStream Research Group. </p>
                    
		</div>
<!-- 		<div class="col-sm-4">	
		 <p> Fundings: <br />
		- Two Research Grants (FCP-SUTD-RG-2022-005, FCP-SUTD-RG-2022-006) from National Research Foundation, Singapore and Infocomm Media Development Authority under its Future Communications Research & Development Programme <br /> 
		- One MOE Tier 2 Grant (MOE-T2EP20122-0010) from Ministry of Education (MOE) of Singapore <br />
		- Multiple Research Grants from Temasek Labs@SUTD, SUTD-ZJU IDEA office and SUTD Kickstarter Initiative (SKI) office. </p>
		</div> -->
		
 		<div class="col-sm-4">
          <p>We are part of the <a href="https://www.ntu.edu.sg/pdcl">Parallel and Distributed Computing Lab (PDCL)</a> at <a href="https://www.ntu.edu.sg/">the Nanyang Technological University</a>.</p> 
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
